In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('dataset.csv', encoding='utf-8')

In [18]:
df.head()

                                             Comment
0                                 отличная компания!
1         Никогда больше не буду работать с этой ТК!
2                        все очень удобно и понятно)
3  Людииии! Хотите остаться без подарков, тогда Д...
4  С внутренними перевозками разберитесь ! \r\nДе...

In [19]:
allowed_chars = "ёйцукенгшщзхъфывапролджэячсмитьбюЁЙЦУКЕНГШЩЗХЪФЫВАПРОЛДЖЭЯЧСМИТЬБЮ "


def clean_comment(comment):
    if not isinstance(comment, str):
        return ""
    return ''.join(c for c in comment if c in allowed_chars)

df['Comment'] = df['Comment'].apply(clean_comment)
df

                                                Comment
0                                     отличная компания
1             Никогда больше не буду работать с этой ТК
2                            все очень удобно и понятно
3     Людииии Хотите остаться без подарков тогда ДЛ ...
4     С внутренними перевозками разберитесь  Деловые...
...                                                 ...
3448                           Алексей от руб стартовая
3449
3450                                 На работу возьмите
3451             Иван оооо ты знаешь как много желающих
3452  Нам больше других нравится терминал на Пятницк...

[3453 rows x 1 columns]

In [20]:
column_name = df.columns[0]
df = df[df[column_name].notna() & df[column_name].str.strip().astype(bool)]

In [21]:
df

                                                Comment
0                                     отличная компания
1             Никогда больше не буду работать с этой ТК
2                            все очень удобно и понятно
3     Людииии Хотите остаться без подарков тогда ДЛ ...
4     С внутренними перевозками разберитесь  Деловые...
...                                                 ...
3447  Максим давай искать в интернетах кто первый на...
3448                           Алексей от руб стартовая
3450                                 На работу возьмите
3451             Иван оооо ты знаешь как много желающих
3452  Нам больше других нравится терминал на Пятницк...

[3115 rows x 1 columns]

In [22]:
df.to_csv('clear_df.csv', index=False)

Разметим датасет

In [32]:
from openai import OpenAI
import os
import time

def send_request(token, text):
    client = OpenAI(api_key=token)
    try:
        completion = client.chat.completions.create(
            model="gpt-3.5-turbo",
            messages=[
                {"role": "system", "content": """You are trained to analyze and detect the sentiment of given text."""},
                {"role": "user", "content": f"""Analyze the following product review and determine if the sentiment is: positive, negative, or 
                    neutral.
                                            Return answer in a single word as either positive, negative, or neutral: {text}"""}
            ]
        )
        res = completion.choices[0].message.content
        time.sleep(2)
        return res
    except Exception:
        print("Ошибка при отправке запроса")
        time.sleep(10)
        return None

In [33]:
import numpy as np
import time
from tqdm import tqdm


def process_dataset(dataset, api_keys):
    key_index = -1
    dead_key = []

    for i, row in tqdm(enumerate(dataset.itertuples(), 1)):
        key_index = (key_index + 1) % len(api_keys)
        if pd.isnull(row.Sentiment):
            if key_index not in dead_key:
                sentiment = send_request(api_keys[key_index], row.Comment)
                if sentiment is None:
                    dead_key.append(key_index)
                else:
                    dataset.at[row.Index, "Sentiment"] = sentiment
                    print(f"Processed review {i}/{len(dataset)}")
            if len(dead_key) == len(api_keys):
                break
    return dataset

In [34]:
while True:
    file_path = 'processed_dataset.csv'
    dataset = pd.read_csv(file_path)
    
    api_keys = [
        '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',
        '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',
        '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',
        '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',
        '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',
        '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'
    ]

    processed_dataset = process_dataset(dataset, api_keys)
    processed_dataset.to_csv('processed_dataset.csv', index=False)
    print("ITER FINISHED!!!!!!!!!!")
    time.sleep(10)

645it [00:04, 151.43it/s]

Processed review 645/3115
Ошибка при отправке запроса

709it [00:22, 24.20it/s]

Processed review 709/3115
Ошибка при отправке запроса

748it [00:41,  9.93it/s]

Processed review 748/3115

754it [00:44,  8.41it/s]

Processed review 754/3115
Ошибка при отправке запроса

764it [01:03,  3.71it/s]

Processed review 764/3115

770it [01:07,  3.30it/s]

Processed review 770/3115

773it [01:10,  2.81it/s]

Processed review 773/3115
Ошибка при отправке запроса

779it [01:29,  1.31it/s]

Processed review 779/3115
Ошибка при отправке запроса

846it [01:45,  3.41it/s]

Processed review 846/3115
Ошибка при отправке запроса

851it [02:01,  7.03it/s]

ITER FINISHED!!!!!!!!!!

KeyboardInterrupt:

Данные были размечены до тех пор, пока ограничения на количество запросов по токенам не были достигнуты. Далее мы оставим размеченные данные и на них обучим модель, которую напишем ниже:

In [36]:
df = pd.read_csv('processed_dataset.csv')
df

                                                Comment Sentiment
0                                     отличная компания  positive
1             Никогда больше не буду работать с этой ТК  negative
2                            все очень удобно и понятно  positive
3     Людииии Хотите остаться без подарков тогда ДЛ ...  negative
4     С внутренними перевозками разберитесь  Деловые...  negative
...                                                 ...       ...
3110  Максим давай искать в интернетах кто первый на...       NaN
3111                           Алексей от руб стартовая       NaN
3112                                 На работу возьмите       NaN
3113             Иван оооо ты знаешь как много желающих       NaN
3114  Нам больше других нравится терминал на Пятницк...       NaN

[3115 rows x 2 columns]

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3115 entries, 0 to 3114
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Comment    3115 non-null   object
 1   Sentiment  753 non-null    object
dtypes: object(2)
memory usage: 48.8+ KB

Отбираем данные, которые мы разметили

In [44]:
df_cleaned = df.dropna(subset=['Sentiment'])
df_cleaned['Sentiment'] = df_cleaned['Sentiment'].str.lower()

C:\Users\Aslan\AppData\Local\Temp\ipykernel_13968\866120655.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Sentiment'] = df_cleaned['Sentiment'].str.lower()

In [61]:
df_cleaned.to_csv('dataset_with_sentiments.csv', index=False)